.jumbotron {
    background-image: url("stbarths.jpg");
    margin-bottom: 0;`enter code here`
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.navbar-inverse .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #32127A;
  padding-top: 24px;
  padding-bottom: 24px;
}
.row {
  font-family: 'Taviraj', serif;
  padding-top: 20px;
  font-size: 18px;
  color: #32127A;
}
body {
  font-family: 'Taviraj', serif;
  color: #32127A;
  font-weight: 300;
  background-repeat: repeat;
}
#carousel-font {
  font-family: 'Pacifico', cursive;
  color: white;
  font-weight: 300;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
